.filters {
  width: 240px;
  margin-right: 60px;
  flex-shrink: 0;

  &__block {
    margin-bottom: 60px;

    h3 {
      color: $title-text-color;
      font-family: Montserrat, sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .checkbox-block {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        align-items: center;
        margin-bottom: 17px;

        &:last-child {
          margin-bottom: 0;
        }

        div {
          content: '';
          display: block;
          width: 18px;
          height: 18px;
          border: 1px solid #d5d7d8;
          margin-right: 9px;
       }

        p {
          color: #4c505b;
          font-family: Raleway, sans-serif;
          font-size: 15px;
          font-weight: 400;

          span {
            color: #a6a9af;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 400;
          }
        }

        input {
          display: none;
        }

        input:checked ~ div {
          background: url("~@/assets/checkbox-arrow.svg") no-repeat center;
        }
     }
    }
  }

  &__button-price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: #33363e;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 17px;

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      width: 100px;
      height: 35px;
      background-color: #1cb8ff;
      color: #ffffff;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}