.noUi-target {
  height: 4px;
  background: $slider-bg-color;
  border: unset;
  border-radius: unset;
  box-shadow: unset;

  .noUi-connect {
    background-color:$bg-hover-color;
  }

  .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid $bg-hover-color;
    background-color: $slider-button-fill;
    box-shadow: unset;

    &:before,
    &:after {
      display: none;
    }
  }
}